<div class="container">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <div class="mail-box">
        <aside class="sm-side">
            <div class="user-head">
                <div class="user-name">
                    <loginheader />
                </div>
            </div>
            <ul class="inbox-nav inbox-divider">
                <mailboxes />
            </ul>
            <ul class="nav nav-pills nav-stacked labels-info">
                <li>
                    <h4>Список контактов</h4>
                    <a ui-sref="home.useredit({userId: null})">Добавить</a>
                </li>
                <userlist />
            </ul>
        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <div class="inbox-title">
                    <header />
                </div>
                <div class="inbox-logout pull-right">
                    <a href="#" class="logout" ng-click="$ctrl.logout()">Выйти</a>
                </div>
            </div>
            <div class="inbox-body">
                <ui-view></ui-view>
            </div>
        </aside>
    </div>
</div>
