<table class="table table-user-information">
    <tbody>
        <tr>
            <td>Полное имя</td>
            <td>{{$ctrl.user.fullName}}</td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>{{$ctrl.user.birthdate}}</td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>{{$ctrl.user.gender}}</td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>{{$ctrl.user.address}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <a href="mailto:{{$ctrl.user.email}}">{{$ctrl.user.email}}</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="#" ui-sref="home.useradd({ userId: $ctrl.user._id })">Редактировать</a>
<a href="#" ng-click="$ctrl.deleteUser()">Удалить</a>
