<div class="container">
    <form>
      <div class="form-group">
          <label for="inputName" class="sr-only">Полное имя</label>
          <!-- <input type="text" id="inputName" class="form-control" placeholder="Полное имя" required="" autofocus="" ng-model="$ctrl.fullname"> -->
      </div>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Адрес электронной почты</label>
            <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Адрес электронной почты" required="" autofocus="" ng-model="$ctrl.email"> -->
        </div>
        <button class="btn btn-lg btn-block btn-signin" type="submit" ng-click="$ctrl.addUser()">Сохранить</button>
    </form>
</div>
